body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  margin: 0;
  padding: 1vh 3vw;
}

td {
  overflow: hidden;
  white-space: nowrap;
  /* Center text */
  text-align: center;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  color: white;
  padding: 2px 4px;
  margin: 0px;
  border: 1px solid black;
  border-radius: 10px;
}

.expanded-cell {
  width: auto !important;
  height: auto !important;
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: initial !important;
  max-width: none !important;
  max-height: none !important;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* Justify left and don't scale */
  justify-content: flex-start;
}

.column {
  padding: 0 0.5rem;
}

tbody {
  border-collapse: collapse;
  border-spacing: 2px;
  border-radius: 10px;
  border: 0;
  padding: 5px;
}

table {
  background-color: #000;
  border-radius: 10px;
}
